.card {
  flex: 0 0 auto;
  background: transparent;
  overflow: hidden;
  width: 90%;
  scroll-snap-align: end;
  scroll-snap-stop: always;
  padding: 1rem;
  border-radius: 2rem;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

  @media (min-width: 480px) {
    width: 48%;
  }

  @media (min-width: 768px) {
    width: 32%;
  }

  @media (min-width: 1200px) {
    width: min(300px, 32%);
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }

  img {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    max-width: 300px;
    max-height: 300px;

    transition: transform 0.3s ease;
  }

  &:hover img {
    transform: scale(1.05);
  }

  h3 {
    padding-top: 1rem;
    font-size: 15px;
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 500;
  }

  .price {
    padding-top: 0.5rem;
    font-size: 15px;
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 400;
  }

  .colorPicker {
    margin: 1.5rem 0 0.5rem 0.1rem;

    .pickerBtn {
      border: 2px solid transparent;
      outline: 0.5px solid transparent;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      cursor: pointer;
      transition: border-color 0.2s, outline-color 0.2s;
    }

    .btnActive {
      border: 2px solid #fff;
      outline: 0.5px solid #222;
    }
  }

  .desc {
    margin-top: 0.5rem;
    font-size: 12px;
    font-family: var(--font-avenir), sans-serif;
    font-weight: 400;
  }
}
