

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.scrollContainer {
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
  margin: 1rem 4rem;

  scrollbar-color: rgba(0,0,0,0.2) transparent;
}

.scrollContainer > * {
  flex: 0 0 auto;
  scroll-snap-align: start;
  height: 100%;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.8);
  border: none;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.nav.prev {
  left: 8px;
}
.nav.next {
  right: 8px;
}

@media (min-width: 1024px) {
  .nav {
    display: block;
  }
}
.nav:first-of-type { left: 0; }
.nav:last-of-type  { right: 0; }

.empty {
  text-align: center;
}
