@font-face {
  font-family: 'Avenir';
  src:
          url('/fonts/Avenir-Book.ttf') format('truetype'),
          url('/fonts/Avenir-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir';
  src:
          url('/fonts/Avenir-Medium.ttf') format('truetype'),
          url('/fonts/Avenir-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src:
          url('/fonts/Montserrat-Regular.ttf') format('truetype'),
          url('/fonts/Montserrat-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src:
          url('/fonts/Montserrat-Medium.ttf') format('truetype'),
          url('/fonts/Montserrat-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-avenir: 'Avenir', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  padding: 1.5rem 1rem;

  @media (min-width: 480px) {
    padding: 1.75rem;
  }

  @media (min-width: 768px) {
    padding: 2.25rem;
  }

  header{
    font-size: 25px;
    font-family: var(--font-avenir), sans-serif;
    font-weight: 400;

    @media (min-width: 480px) {
      font-size: 35px;
    }

    @media (min-width: 768px) {
      font-size: 45px;
    }


    text-align: center;
    margin-bottom: 3rem;
  }
}