:root {
  --font-sans: var(--font-avenir);
  --font-serif: var(--font-montserrat);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  padding: 1rem;

  @media (min-width: 480px) {
    padding: 2rem;
  }

  @media (min-width: 768px) {
    padding: 3rem;
  }

  header{
    font-size: 25px;

    @media (min-width: 480px) {
      font-size: 35px;
    }

    @media (min-width: 768px) {
      font-size: 45px;
    }


    text-align: center;
    margin-bottom: 3rem;
  }
}